<div id="loomad">
    <?php if (!empty($_SESSION['user'])) echo "<h1>Tere tulemast ".$_SESSION['user']."</h1>"?>
    <h3>Vaata mis loomad puurides asuvad:</h3>
    <?php if(!empty($puuri_nr)):
    foreach ($puuri_nr as $id => $loom):
    ?>
    <div class="puur">
        <p>Puuris nr on <?php echo $id; ?></p>
        <?php foreach ($loom as $liik): ?>
        <img src='http://enos.itcollege.ee/~aporman/prax13/loomaaed/<?php echo $liik; ?>' alt='nimi'>
        <!--<?php next ($puuri_nr) ?>-->
        <?php endforeach; ?>
    </div>
    <?php endforeach;
        endif;
    ?>
</div>
